.welcome-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @extend %centerColumns;
  width: 300px;
  height: auto;
  font-family: "lato";
  font-weight: bold;
  padding: 30px;
border-radius: 50px;
  background: $white-color;
z-index: 15;
  color: black;

  input,
  textarea {
    width: 60%;
    margin-bottom: 15px;
  }
  textarea {
    height: auto;
  }
  label {
    color: black;
    margin-bottom: 5px;
  }
  button {
    cursor: pointer;
  }
}
