.all-container-setup {
  @extend %centerColumns;
}

.setup-register-container {

  margin-bottom: 100px;
}
.setup-register {
  @extend %centerRows;
  margin-bottom: 50px;
}

.container-display-one-setup {
  @extend %centerRows;
}
.container-setup-card {
  @extend %centerColumns;
  border-radius: 59px;
  background: #ccd5f4;
  box-shadow: 5px 5px 10px #c6cfed, -5px -5px 10px #d2dbfb;
  width: 200px;
  height: 200px;
  cursor: pointer;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
.header-setup-card {
  @extend %centerRows;
  justify-content: space-between;

  span {
    color: $black-color;
  }
}

.container-display-one-setup {
  @extend %centerRows;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-btn{
  @extend %centerRows;
}

.btn-close-setup {
  @include btn;

}

.image-equipement {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
