// dashboard default

.container-dashboard-default {
 @extend %centerRows;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  background-color: $background-navigation-dashboard;
  min-height: 800px;
  height: auto;
  animation: dashboard 1.1s ease-in-out;
}
@keyframes dashboard {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container-main-default {
  @extend %centerRows;
  background-color: $background-main-dashboard;
  min-width: 1000px;
  max-width: 1400px;
  min-height: 800px;
  border-radius: 20px;
 margin: 10px 300px 300px 0px;
  padding-left: 30px;
  z-index: 2;
  padding: 20px;
}

// dashboard navigation
.container-navigation-dashboard {
margin-right: 50px;


}
.container-dashboard {
  position: absolute;
  left: 30px;
  background-color: $background-navigation-dashboard;
  width: 300px;
  height: 800px;
  margin-top: 10px;
  border-radius: 20px;
  margin-right: 50px;
 // margin: 10px 30px 100px 30px;
  @include boxShadowDashboardNav;

 
}

.nav-dashboard {
  @extend %centerColumns;
  align-items: flex-start;
  margin-left: 50px;
  padding-bottom: 10px;
  font-size: 16px;
}
.link-nav {
  @extend %centerRows;
  margin-bottom: 15px;
  a {
    padding-left: 10px;
  }
  &:hover {
    color: black;
  }
}
.active-link-nav-dashboard {
  color: black;
}

.link-nav-dashboard {
  &:hover {
    color: black;
  }
}

.title-header-dashboard {
  text-align: center;
  background-color: $background-navigation-dashboard;
  padding-top: 10px;
  padding-bottom: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header-dashboard {
  background-color: $background-navigation-dashboard;

  img {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
}

.legend-header-dashboard {
  @extend %centerRows;
  padding-left: 10px;
  margin-bottom: 50px;
}
