.setup-section-title {
  margin-top: 120px;
  font-size: 45px;
  color: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_all_register_setup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 150px;
  margin-right: 100px;
  margin-left: 100px;

  span {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.btn-close-setup {
  @include btn;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 150px;
}
