.container-drag-drop-board {
  @extend %centerColumns;

  img {
    margin-right: 15px;
    max-width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

// image of diffents equipements
.container-image-equipements {
  @extend %centerRows;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  text-align: center;

}
.image-equipement {
  @extend %centerColumns;
  margin: 3px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: #c9f0f8;
  box-shadow: 20px 20px 60px #abccd3, -20px -20px 60px #e7ffff;

  span {
    color: $black-color;
    font-size: large;
    font-weight: 700;
  }
}

.container-delete {
  @extend %centerRows;
}

@keyframes chevronAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.instruction {
  @extend %centerColumns;
  width: 100%;
  height: 250px;
  position: absolute;
  top: -65px;
  span {
    color: $black-color;
    font-size: larger;
  }
}

// aqua board dropper
.aqua-project-board {
  position: relative;
  @extend %centerRows;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 115px 20px 50px 20px;
  min-width: 1000px;
  max-width: 1200px;
  min-height: 600px;
  @include boxShadowDashboardNav;
  background-color: $background-navigation-dashboard;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container-input-equipement {
  @extend %centerRows;
  justify-content: space-between;

  input {
    width: 80px;
  }
}

.btn-register-setup {
  @include btn;
  margin-bottom: 50px;
}

.setup-register-ok {
  @extend %centerRows;
  height: 50px;
  padding: 20px;
  border-radius: 20px;
  background: rgba($color: green, $alpha: 0.3);
  color: black;
}
.setup-register-error {
  @extend %centerRows;
  height: 50px;
  padding: 20px;
  border-radius: 20px;
  background: rgba($color: red, $alpha: 0.3);
  color: black;
}
