.mobile-project{
@extend %centerRows;
justify-content: space-between;
align-items: flex-start;
height: 100vh;
}

.mobile-project-equipement{
    @extend %centerRows;
    flex-wrap: wrap;
width: 40%;

height: 90vh;
background:$background-navigation-dashboard;
margin-right: 50px;
}
.mobile-image-equipement{
   @extend %centerColumns;
    margin: 5px;
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background: #c9f0f8;
    box-shadow: 20px 20px 60px #abccd3, -10px -10px 40px #e7ffff;
  
    span {
      color: $black-color;
      font-size: 15px;
      font-weight: 700;
    }
    img {
        margin-right: 15px;
        max-width: 50px;
        height: 50px;
        cursor: pointer;
      }
}
.mobile-project-board{

    @extend %centerRows;
    align-items: flex-start;
    flex-wrap: wrap;
padding:15px;
margin-top: 100px;
 
    
}
.btn-mobile-register-setup{

    position: absolute;
        left:50%;
        top:13vh;
        transform: translate(-10%,-50%);
        margin-bottom: 50px;
}
