.create-card-fish-container{
@extend %centerColumns;
width: 300px;
height: auto;
font-family: 'lato';
font-weight: bold;
padding:30px;

border-radius: 50px;
background: #e9ecef;
box-shadow:  20px 20px 60px #c6c9cb,
             -20px -20px 60px #ffffff;

input,textarea{
    width: 60%;
    margin-bottom: 15px;
}
textarea{
   height: auto;
}
label{
    margin-bottom: 5px;
}
button{
@include btn;
}
}
