.header {
  @extend %centerRows;
  justify-content: space-between;
  padding-right: 3%;
 height:10vh;
background: #0c0356;
  box-shadow: inset 20px 20px 30px #0a0349,
              inset -20px -20px 30px #0e0363;
  

  img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
    border-radius: 50%;
  }
}

.nav-header {
  @extend %centerRows;

  a {
    position: relative;
    margin-right: 70px;
    font-size: 22px;
    display: inline;

    &:hover::after {
      transform: scale(1);
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      height: 3px;
      width: 100%;
      background: $white-color;
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
    }
  }
}

@keyframes header {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
