.hero-section {
  // position: relative;
  // padding: 50px 150px 0px 80px;
  height: 100vh;
  width: 100%;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d228b;
    opacity: 0.4;
  }
}

video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentation-fonctionnality,
.presentation-fonctionnality-2,
.presentation-fonctionnality-3,
.presentation-fonctionnality-4 {
  position: relative;
  height: 100vh;
  background-image: url("../images/sea-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d228b;
    opacity: 0.4;
  }
}
.presentation-fonctionnality {
  background-attachment: fixed;
}

.presentation-fonctionnality-2 {
  background-attachment: fixed;
  background-image: url("../images/sea-bg-3.jpg");
}
.presentation-fonctionnality-3 {
  background-image: url("../images/sea-bg-4.jpg");
}
.presentation-fonctionnality-4 {
  background-attachment: fixed;
  background-image: url("../images/sea-bg-2.jpg");
}

.container-navigation-home {
  @extend %centerRows;
  justify-content: space-between;
}
.container-btn-home {
  position: absolute;
  right: 30px;
  top: 30px;
  @extend %centerRows;
  justify-content: flex-end;
}

.logo {
  position: absolute;
  left: 0;
  top: 25px;
  width: 250px;
  height: 250px;
  margin-right: 150px;
  transform: rotateY(45);
}
.btn-home {
  @extend %centerRows;
  width: 150px;
  height: 45px;
  background-color: transparent;
  border: solid 1px white;
  font-weight: 600;
  // border-radius: 20px;
  margin-right: 50px;
  margin-bottom: 100px;
  color: $white-color;
  cursor: pointer;
  z-index: 5;
  text-decoration: none;
  //padding: 20px;
  text-align: center;
  @include magic-border(2px, white, 0.2s, 0);
  margin: 20px;
  flex-grow: 1;
  cursor: pointer;
  animation: btn-nav 1s ease-out;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
    // border: solid 1px black;
  }
}

.container-title-hero {
  font-size: 50px;
  font-family: "Pushster";
  color: transparent;
  background: #ffffff;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.title-hero {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 5;
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }
  
}

@keyframes btn-nav {
  0% {
    transform: translateY(-100px) scale(2.5);

    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}


.menu-user{
  z-index: 25;
}