// colors variables
$background-secondary: linear-gradient(to right, #e9e4f0, #d3cce3);
$background-third: linear-gradient(to right, #b3ffab, #12fff7);

$background-main-dashboard: #e9ecef;
$background-navigation-dashboard: #adb5bd;

$white-color: #f8f9fa;
$black-color: black;

$primary-color: #003554; // prussian blue
$secondary-color: #f0f2a6; // green Yellow
$third-color: #23b5d3; // pacific blue

$btn-background-color: #f49d6e; // atomic Tangerine

