// colors variables
$background-secondary: linear-gradient(to right, #e9e4f0, #d3cce3);
$background-third: linear-gradient(to right, #b3ffab, #12fff7);

$background-main-dashboard: #e9ecef;
$background-navigation-dashboard: #adb5bd;

$white-color: #f8f9fa;
$black-color: black;

$primary-color: #003554; // prussian blue
$secondary-color: #f0f2a6; // green Yellow
$third-color: #23b5d3; // pacific blue

$btn-background-color: #f49d6e; // atomic Tangerine


$background-header-dashboard:radial-gradient(
    circle at 85% 1%,
    hsla(190, 0%, 93%, 0.05) 0%,
    hsla(190, 0%, 93%, 0.05) 96%,
    transparent 96%,
    transparent 100%
  ),
  radial-gradient(
    circle at 14% 15%,
    hsla(190, 0%, 93%, 0.05) 0%,
    hsla(190, 0%, 93%, 0.05) 1%,
    transparent 1%,
    transparent 100%
  ),
  radial-gradient(
    circle at 60% 90%,
    hsla(190, 0%, 93%, 0.05) 0%,
    hsla(190, 0%, 93%, 0.05) 20%,
    transparent 20%,
    transparent 100%
  ),
  radial-gradient(
    circle at 79% 7%,
    hsla(190, 0%, 93%, 0.05) 0%,
    hsla(190, 0%, 93%, 0.05) 78%,
    transparent 78%,
    transparent 100%
  ),
  radial-gradient(
    circle at 55% 65%,
    hsla(190, 0%, 93%, 0.05) 0%,
    hsla(190, 0%, 93%, 0.05) 52%,
    transparent 52%,
    transparent 100%
  ),
  linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
