.container_pagination {
  @extend %centerRows;
  margin-top: 30px;
  margin-bottom: 30px;
}

.change_pagination {
  color: $black-color;
}

.container_button_pagination {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.button_pagination {
  padding: 5px;
  background: $blue-color;
  border-radius: 10px;
  color: $white-color;
  border-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  &:hover {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.36);
  }
}

.container_input_pagination {
  display: flex;
  align-items: center;

  select {
    margin-left: 15px;
    background-color: $blue-color;
    color: $white-color;
    height: 35px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
}

.input_pagination {
  background-color: $blue-color;
  color: $white-color;
  margin-left: 15px;
  height: 35px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .container_pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .button_pagination {
    margin-bottom: 15px;
    margin-bottom: 50px;
  }
}

table {
  margin-top: 50px;
  border-spacing: 0;
  border: 1px solid $black-color;

  th,
  td {
    color: $black-color;
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $black-color;
    border-right: 1px solid $black-color;

    :last-child {
      border-right: 0;
    }
  }
  input {
    height: 35px;
    border-radius: 10px;
    padding-left: 5px;
    color: $black-color;
  }
}
.change_pagination {
  margin: 0;
}
.container-delete-table {
  @extend %centerRows;
  span {
    cursor: pointer;

    &:hover {
      color: blue;
      border-bottom: 2px solid blue;
    }
  }
}
