// dashboard navigation

.dashboard-navigation {
  background-color: $background-navigation-dashboard;
  min-width: 300px;
  height: 800px;
  margin-top: 10px;
  border-radius: 20px;
  margin: 10px 30px 10px 30px;
  @include boxShadowDashboardNav;
}

.nav-dashboard {
  @extend %centerColumns;
  align-items: flex-start;
  margin-left: 50px;
  padding-bottom: 10px;
  font-size: 16px;
}
.link-nav {
  @extend %centerRows;
  margin-bottom: 15px;
  a {
    padding-left: 10px;
  }
  &:hover {
    color: black;
  }
}
.active-link-nav-dashboard {
  color: black;
}

.link-nav-dashboard {
  &:hover {
    color: black;
  }
}

.title-header-dashboard {
  text-align: center;
  background-color: $background-navigation-dashboard;
  padding-top: 10px;
  padding-bottom: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header-dashboard {
  background-color: $background-navigation-dashboard;
  position: relative;
  height: 250px;
  margin-bottom: 10px;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.legend-header-dashboard {
  @extend %centerColumns;
  width: 80%;
  height: auto;
  border-radius: 15px;
  background: #9ca3aa;
  box-shadow: inset 33px 33px 28px #969ca3, inset -33px -33px 28px #a2aab1;
  padding: 10px;
  margin: 20px 10% 30px 10%;
}

.mobile {
  background-color: $background-navigation-dashboard;
  width: 0px;
 height: 60vh;
  margin-top: 10px;
  border-radius: 20px;
  margin: 10px 30px 10px 30px;
  position: absolute;
  top: 25px;
  left: 0px;

  margin-top: 10px;
  border-radius: 20px;
  margin: 0;
  animation: menuNav both 1s ease;
}
@keyframes menuNav {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .dashboard-navigation {
    display: none;
  }
 .header-dashboard{
   height: 150px;
 }
}
