.mobile-nav {
  position: absolute;
  left: 0;
  top: 0px;
  width: 40px;
  height: 50px;
  background: #0c0356;
  box-shadow: inset 20px 20px 30px #0a0349,
              inset -20px -20px 30px #0e0363;
              z-index: 1000;
              
  
}
